<%= form_for(@business) do |f| %>

  <%= render :partial => 'layouts/form_errors', :locals => {:object => @business} %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Goal Investment (in dollars)" %><br />
    <%= f.text_field :goal_investment %>
  </div>
  <div class="field">
    <%= f.label "Total Equity Offered (as a percentage)" %><br />
    <%= f.text_field :equity_offered %>
  </div>
  <div class="field">
    <%= f.label "Paragraph Pitch" %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label "Your Business' Image" %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
