<%= form_for(@business) do |f| %>

  <%= render :partial => 'layouts/form_errors', :locals => {:object => @business} %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Paragraph Pitch" %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.file_field :photo %>
  </div>

  <%= f.fields_for :page do |p| %>
    <div class="field">
      <%= p.label "Your Page (in html)" %><br />
      <%= p.text_area :content %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
