<h2>Businesses</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= business.name %></td>
    <td><%= business.desc %></td>
    <td><%= link_to 'Details', business %></td>
    <td><%= link_to 'Invest', new_business_investment_path(business) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business', new_business_path %>
