
<h2><%= @business.name %></h2>

<p>
  <b>Description:</b>
  <%= @business.desc %>
</p>

<br />

<p>
  <%= image_tag @user.photo.url(:medium) %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
