
<%= form_for [@user, @investment] do |f| %>
  <%= render :partial => 'layouts/form_errors', :locals => {:object => @investment} %>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %><br />
    <%= f.hidden_field :business_id, :value => @business.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
