<h2>Investments</h2>

<table>
  <tr>
    <th>Investor</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <td><%= investment.investor_id %></td>
    <td><%= investment.amount %></td>
    <td><%= link_to 'Show', investment %></td>
    <td><%= link_to 'Edit', edit_user_investment_path(current_user,investment) %></td>
    <td><%= link_to 'Destroy', investment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investment', new_user_investment_path(current_user) %>
