<p id="notice"><%= notice %></p>

<p>
  <b>Investor:</b>
  <%= @investment.user.name %>
</p>

<p>
  <b>Business:</b>
  <%= @investment.business.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @investment.amount %>
</p>


<%= link_to 'Edit', edit_user_investment_path(@user,@investment) %> |
<%= link_to 'Back', user_investments_path(@user) %>
