<h2>Investment Details</h2>

<div id="investment_info">
  <p id="show_investor">
    <b>Investor:</b>
    <%= @user.name %>
  </p>

  <p id="show_business">
    <b>Business:</b>
    <%= link_to @investment.business.name, business_path(@investment.business) %>
  </p>

  <p id="show_amount">
    <b>Amount:</b>
    <%= number_to_currency @investment.amount %>
  </p>

  <p id="show_equity">
    <b>Percentage Equity:</b>
    <%= @investment.equity %>%
  </p>

  <p id="show_created">
    <b>Created:</b>
    <%= @investment.created_at.strftime('%b %e, %Y') %>
  </p>
</div>
