<p id="notice"><%= notice %></p>

<p>
  <b>Investor:</b>
  <%= @investment.investor_id %>
</p>

<p>
  <b>Business:</b>
  <%= @investment.business_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @investment.amount %>
</p>


<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
