<% if User::ROLES.include? params[:role] %>
  <% if params[:role] == "Investor" %>
    <h2>Become an Investor</h2>
  <% elsif params[:role] = "Entrepeneur" %> 
    <h2>Start a Business</h2>
  <% else redirect_to root_url end %>
  <%= form_for(@user) do |f| %>
    <%= render :partial => 'layouts/form_errors', :locals => {:object => @user} %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label "Confirm Your Password" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Your bio" %><br />
      <%= f.text_area :bio %>
    </div>

    <%= f.hidden_field :role, :value => params[:role] %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>

  <p>You must have a role selected. <%= link_to "Return home.", root_url %></p>

<% end %>
