
<% if @user == current_user %>
  <h2>Your Card</h2>
<% else %>
  <h2><%= @user.name %>'s Card </h2>
<% end %>

<div id="user_card">

<p id="name">
  <b>Name:</b>
  <%= @user.name %>
</p>

<p id="role">
  <b>Role:</b>
  <%= @user.role %>
</p>

<p id="email">
  <b>Email:</b>
  <%= @user.email %>
</p>
 
<p id="bio">
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p id="bio">
<% if @user.photo.exists? %> <%= image_tag @user.photo.url(:medium) %>
<% else %> No photo. <% end %>
</p>

<p id="edit"><%= link_to 'Edit', edit_user_path(@user) %></p>

</div>

