
<div class="card">

  <h2><%= @user.name %></h2>

<div id="photodiv">
  <p id="photo">
  <% if @user.photo.exists? %> <%= image_tag @user.photo.url(:medium) %>
  <% else %> <% end %>
  </p>
</div>

<div id="data">
 
<p class="card_data" id="bio">
  <%= @user.bio %>
</p>
<p class="card_data" id="role">
  <%= @user.role %>
</p>

<p class="card_data" id="email">
  <%= @user.email %>
</p>
<p id="edit"><%= link_to 'Edit', edit_user_path(@user) %></p>

</div>


</div>

