<p id="notice"><%= notice %></p>

<p>
  <b>HTML Content:</b>
  <%= @page.content %>
</p>

<p>
  <b>Business:</b>
  <%= @page.business_id %>
</p>


<%= link_to 'Edit', edit_user_business_page_path(current_user) %> |
<%= link_to 'Back', user_path(current_user) %>
