<h2>Business Report for <%= current_user.business.name %></h2>

<p>
  <b>Business:</b>
  <%= @report.business_id %>
</p>

<p>
  <b>Content:</b>
  <%= @report.content %>
</p>


<%= link_to 'Edit', edit_business_report_path(@business,@report) %> |
<%= link_to 'Back', business_reports_path(@business) %>
