<!DOCTYPE html>
<html>
<head>
  <title>Phoenii | Business rises again.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Phoenii</h1>
  <!-- Notices -->
  <% flash.each do |key, msg| %>
    <div class="notice">
      <p class="message"> <strong><%= msg %> </strong> </p>
    </div>
  <% end %>


<%= yield %>

</body>
</html>
