<!DOCTYPE html>
<html>
<head>
  <title>Phoenii | Business rises again.</title>
  <%= stylesheet_link_tag    "style" %>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css' /> 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "loginAnim.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container"> 

<div id="intro">
  <h1><%= link_to "PHOENII", root_url %></h1>
	<div id="call">
		<h2>Business rises and falls.</h2>
		<h3>Not of its own volition, but by the action of its agents.</h3>
	</div>
</div>

  <!-- Notices -->
  <% flash.each do |key, msg| %>
    <div class="notice">
      <p class="message"> <strong><%= msg %> </strong> </p>
    </div>
  <% end %>

  <!-- Meta info -->
  <div id="meta">
    <% if current_user %>
      <p>Logged in as <%= current_user.name %> (<%= current_user.role %>). <%= link_to "Log out", logout_path %></p>
    <% end %>
  </div>

  <!-- Nav -->
  <ul id="nav">
    <% if current_user && current_user.role == "Investor" %>
      <li><%= link_to "Browse", businesses_path %></li>
      <li><%= link_to "Investments", user_investments_path(current_user) %></li>
      <li><%= link_to "Your Profile", current_user %></li>
      <li>Help</li>
    <% elsif current_user && current_user.role == "Entrepreneur" %>
      <% if current_user.business %>
        <li><%= link_to "Reports", business_reports_path(current_user.business) %></li>
        <li><%= link_to "Stats", business_investments_path(current_user.business) %></li>
        <li><%= link_to "Page", user_business_page_path(current_user) %></li>
      <% end %>
      <li>
      <% if current_user.business %>
        <%= link_to "Your Business", user_business_path(current_user) %></li>
      <% else %>
        <%= link_to "Start a Business", new_user_business_path(current_user) %></li>
      <% end %>
      <li>Help</li>
    <% end %>
  </ul>


<%= yield %>

</div>

</body>
</html>
