<!DOCTYPE html>
<html>
<head>
  <title>Phoenii | Business rises again.</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "style_inner" %>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css' /> 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container"> 

	<div id="header">
    <h1><%= link_to "PHOENII", root_url %></h1>
    <h2>Logged in as <%= link_to current_user.name, current_user %></h2>
		
		<div id="logout">
      <%= link_to "Log out", logout_url %>
		</div>
	</div>

  <!-- Nav -->
  <div id="nav">
    <% if current_user && current_user.role == "Investor" %>
      <h3 class="node" id="leftN"><%= link_to "Browse", businesses_path %></h3>
      <h3 class="node" id="middleN"><%= link_to "Reports", user_investments_path(current_user) %></h3>
      <h3 class="node" id="rightN"><%= link_to "Card", current_user %></h3>
    <% elsif current_user && current_user.role == "Entrepreneur" %>
      <% if current_user.business %>
        <h3 class="node" id="leftN"><%= link_to "Stats", business_investments_path(current_user.business) %></h3>
        <h3 class="node" id="middleN"><%= link_to "Page", business_path(current_user.business) %></h3>
      <% end %>
      <% if current_user.business %>
        <h3 class="node" id="rightN"><%= link_to "Card", user_business_path(current_user) %></h3>
      <% else %>
        <h3 class="node" id="rightN"><%= link_to "Start a Business", new_user_business_path(current_user) %></h3>
      <% end %>
    <% end %>
  </div>



<div id="content">
  <!-- Notices -->
  <% flash.each do |key, msg| %>
    <div class="notice">
      <p class="message"> <strong><%= msg %> </strong> </p>
    </div>
  <% end %>

  <%= yield %>
</div>

</div>

</body>
</html>
